/* style for universal of html page */

*{
    margin: 0px;
    padding: 0px;
    font-family:'poppins' , 'sans-serif';
    box-sizing: border-box;
    border: none;
    outline: none;

}

/* .section{
     padding: 9rem 0;
}  */


.container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}
.grid{
    display: grid;
    /* gap: 1rem; */
}
.grid-three-column{
    grid-template-columns:repeat(3,1fr);
}

/* style for body tag */

body{
    background-image: url(weatherImages/desktop-wallpaper-so-beautiful-spring-season-beautiful-weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}

/* style for Weather section */
.weather-section{
    width: 90%;
    /* max-width: 600px; */
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:#fff;
    margin: 40px auto 0px;
    padding: 40px 35px;
    border-radius:15px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;   
}

/* style for search bar */
.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* style for search bar and input tag */
.search-bar input{
    border: 0px;
    outline: 0px;
    background: white;
    color: #070707;
    padding: 10px, 25px;
    height: 40px;
    border-radius: 50px;
    flex:1;
    margin-right: 15px;
    font-size: 20px;
    box-shadow: rgba(51, 53, 55, 0.9) 0px 8px 24px;
    text-align: center;
    
}
/* style for search bar and button */
    .search-bar button{
        border: 0px;
        outline: 0px;
        background:white;
        width:40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;

    }

    /* style for search-bar button and search image */
.search-bar button img{
    width: 16px;
    align-items: center;
}

/* style for weather icon */
.weather-icon{
    width: 200px;
    margin-top: 30px;

}
.weather-image h1{
    font-size: 80px;
    font-weight: 500;

}
.weather-image h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}

.weather-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 45px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 15px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -6px;
}

.details-overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 80%;
    max-width: 300px;
    height: 70%;
    margin-top: 90px;
    margin-left: 40px;
    border-radius: 20px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    
    
   
}
.details{
   padding: 40px;
    text-align:left;
    line-height:30px ;
     
}

@media only screen and(max-width: 875px){
    .container {
        flex-wrap: wrap;
    }
}
    
 

